<div class="row">
    <div class="col-s12 m8">

        {{#each story}}

<div class="row">
{{#each stories}}
<div class="col s12 m4 lg4">
<div class="card" >
    <div class="card-image" width= "15%"  height= "15%">
        {{{editIcon user ../user _id   }}} <!--i used 3 curly braces if i want to parse html which i defined in the helper -->
    </div>
<div class="card-content center-align">
    <h5>{{title}}</h5>
    <p>{{{stripTags (truncate body 60)}}} </p>
    <br>
    <div class="chip">
        <img src="{{user.image}} " alt="">
        <a href="/stories/user/{{user._id}}"> {{user.firstName}} </a>
    </div>
</div>

</div>

<div class="card-action center-align">
<a href="/stories/{{_id}}" class="btn grey">Read more</a>

</div>
</div>

{{else}}
<p>No stories to displayName</p>

{{/each}}
</div>
      